# Dependencies
node_modules/

# Next.js
.next/
out/
build/
next-env.d.ts
dist/
.vinext/
.wrangler/

# Production
*.tsbuildinfo

# Local environment
.env
.env*.local

# OS / editors
.DS_Store
.idea/
.vscode/
.vercel/
